/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

[data-theme="light"] .challenge-button,
.light .challenge-button {
  border: none;
  box-shadow: 0 0 15px #9ca3af;

  &.challenge-solved {
    background-color: #29c830;

    &:hover {
      background-color: #37d63e;
    }
  }
}

[data-theme="dark"] .challenge-button,
.dark .challenge-button {
  border: none;
  background-color: #1f2937;

  &:hover {
    background-color: #374151;
  }

  &.challenge-solved {
    background-color: #29c830;

    &:hover {
      background-color: #37d63e;
    }
  }
}
